
@media (max-width: 500px) {
    body {
      background-color: #eee;
    }
  }

button, input[type=button] {
    border-radius: .5em;
    padding: .5em;
    margin: 0.1em 0.5em;
    border: none;
}

#overview{ 
    padding-top: 0.5em;
    font-size: 1.75em;
}

#search {
    padding: 0.5em;
    border-radius: 5px;
    margin: 1em;
    min-width: 350px;
}

.card{
background:lightyellow;
margin:20px;
padding:20px;
padding-top:0px;
border-top-width: 16px;
border-top-style: solid;
border-radius:5px;
box-shadow: 0px 0px 5px rgba(100,100,100,.5);
}

.card-title{
font-size: 1.5em;
}

.card-text{
clear:both;

}

.appetizersandsnacks{ border-top-color: #f47979;}
.beefdishes{ border-top-color: #bc9439;}
.beverages{ border-top-color: #98a4ff;}
.breadsandcereals{ border-top-color: #fff1b4;}
/*  .cookies{ border-top-color: #ffffff;}*/
.cookiesandsweetsnacks{ border-top-color: #ba00c9;}
.desserts{ border-top-color: #d800ff;}
/*  .eggsandporkdishes{ border-top-color: #ffffff;}*/
.eggs\,breakfast\,andporkdishes{ border-top-color: #edf44d;}
.fish{ border-top-color: #5f4bff;}
.giftsandmiscellaneous{ border-top-color: #d80000;}
.grouprecipes{ border-top-color: #005700;}
/*  .miscellaneousandtastygifts{ border-top-color: #ffffff;}*/
.pastaandstarches{ border-top-color: #ffe367;}
.poultry{ border-top-color: #f1ff49;}
.salads{ border-top-color: #008100;}
.sandwiches{ border-top-color: #46eef5;}
.sauces\,jellies\,anddressings{ border-top-color: #f599e3;}
.soups{ border-top-color: #bfe8a5;}
.specialoccasions{ border-top-color: #76007b;}
.vegetablesandfruits{ border-top-color: #33f870;}



.hide {
    display:none;
}

body {
font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
font-size: 1em;
margin: 1em;


}
